AUTHOR_TEXTS_FRONTEND_ROOT=../lexical-diversity-frontend
AUTHOR_TEXTS_MINIO_PUBLIC_URL=http://localhost:9000/author-texts-media
AUTHOR_TEXTS_DATABASE_URL=postgresql+asyncpg://author_texts_user:ttr_password@127.0.0.1:55432/author_texts_database
AUTHOR_TEXTS_CURRENT_USER_ID=1
